body {
      background: linear-gradient(to bottom, #0485b4, #b2b2b2) no-repeat center center fixed;
      padding: 0;
}
.home {
  text-align: center;
    display: block;
    width: 70%;
    height: auto;
    border-radius: 20px;
    margin-right: auto;
    margin-top: 2rem;
    margin-left: auto;
    margin-bottom: 2rem;
  background: transparent;
  backdrop-filter: blur(8px);
  
}

.factory-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0,0,0.6);
}

.home section {
  margin: 20px 0;
  color: black;
}

.home h2 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    font-size: 2 rem;
}

.home p{
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: bold;
}


.goals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.goal {
  background: rgba(181, 202, 209, 0.8);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, background-color 0.3s;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.goal:hover {
  transform: scale(1.05);
  background-color: #024d68;
  opacity: 0.2;
}

.goal p {
  font-size: 1rem;
  margin: 0;
  color: w;
}
.goal strong{
  font-size: 1.2rem;
  font-weight: bold;
}




